# Minecraft general
logs/
crash-reports/
.DS_Store
Thumbs.db
hs_err_pid*
eula.txt
usercache.json
session.lock

# Configuración generada
options.txt
servers.dat

# Archivos de Forge
debug.log
latest.log

# Carpetas
.idea/
saves/
world/
xaero/
.vscode/
journeymap/
schematics/
shaderpacks/
screenshots/
resourcepacks/
bkpconfig - Copy/
config/relics/relics/
config/artifacts/relics/
XaeroWaypoints_BACKUP240807/
Distant_Horizons_server_data/

# Archivos específicos
*.iml
*.swp
*.swo
emi.json
jei-client.ini
servers.dat_old
jeed-client.toml
oculus.properties
usernamecache.json
patchouli_data.json
.qmenu_opened.marker
xaerominimap_entities.json
xaerominimap_entities.json
do_a_barrel_roll-client.json
embeddium-fingerprint.json
